body {
   background-color: #42f4a7;
}
h1 {
  text-align: center;
}
.playerone, .playertwo {
  display: none;
}
#restart {
  margin-top: 20px;
}
.footer {
  position: auto;
  background-color: #395942;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  margin-top: auto;

}
